.mc-wrapper {
  width: 100%;
  height: 80%;
  background: #0d0b14;
  border: 1px solid #6b21a8;
  padding: 4px;
  font-family: system-ui, sans-serif;
}

/* BOI BAR */
.mc-boi {
  height: 28px;
  border: 1px solid #7c3aed;
  color: #e9d5ff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 13px;
  position: relative;
  margin-bottom: 6px;
  background: #12091f;
}

.mc-boi-fill {
  position: absolute;
  inset: 0;
  left: 35px;
  background: #7c3aed;
  opacity: 0.8;
}

/* TABLE */
.mc-table-wrapper {
  height: calc(100% - 35px);
  overflow: auto;
}

.mc-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 13px;
  color: #e9d5ff;
}

.mc-table th {
  background: #2e1065;
  border: 1px solid #7c3aed;
  padding: 4px;
  font-weight: 600;
}

.mc-material {
  border: 1px solid #7c3aed;
  padding: 2px;
  text-align: center;
  color: #e9d5ff;
  
}

.mc-cell {
  border: 1px solid #7c3aed;
  height: 25px;
  text-align: center;
  padding: 2px;
  
}

.mc-fill {
  width: 100%;
  height: 100%;
  background: #9333ea;
}
